<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="../static/deloitte-logo-wht.png">
<link rel="stylesheet" href="../static/styles.css">

</head>
<body>

<video autoplay muted loop id="myVideo">
  <source src="../static/GlobalNetwork_BLACK.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<div class="content">
  <h1>Travel Recommender</h1>
  <p>Let us help you to determine your next travel destination.</p>
  <a class="nav-link" href="/index"><button id="mainPageButton" class="button" onclick="loadMainPage()"><span>Start</span></button></a>
</div>

<div class="logo">
	<img id="myLogo" src="../static/deloitte-logo-wht.png" alt="Deloitte">
</div>

<script>
function loadMainPage() {
    document.getElementById("mainPageButton").onclick = function {
	};
}
</script>

</body>
</html>
